<div class="about-panel">
	<div class="about-box">
		<div class="row">
			<div class="col-md-12">
				<img src="assets/images/mike.jpg"/>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<h1>Michael Chen</h1>
				<h3 class="text-center">I graduated Manga Cum Laude from Northwestern University studying Biological Sciences, Computer Science and Entrepreneurship. During my time at NU, I realized one thing about myself - that I really liked building - teams, products, myself.</h3>
			</div>
			<div class="col-xs-12">
				<div class="social-box">
	                <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
	                <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>
	                <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
	            </div>
			</div>
			<div class="col-xs-12">
				<div class="resume">
					<a href="http://www.miketychen.com/Resume14.pdf" target="_blank"><h3>View Resume</h3></a>
				</div>
			</div>
		</div>
	</div>
</div>