<div class="main-panel">
	<div class="welcome-box">
		<div class="row">
			<div class="col-xs-12">
				<h1>MICHAEL CHEN</h1>
			</div>
			<div class="col-xs-12">
				<h2 style="sub-title">Personal Stats Visualized</h2>
			</div>
			<div class="col-xs-12 down-box">
				<a href="#chart-panel"><span class="flaticon-downarrows11 down-arr"></span></a>
			</div>
		</div>
	</div>
</div>